{% load django_browser_reload static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'appwrite_auth/styles.css' %}">
</head>

<body>
    {% load django_browser_reload %}
    <form 
    class="form_div" 
    onSubmit= {% %}
    >
        <h1 
        class='form_title'
        
        >
        Sign Up
        </h1>
        <div class="input_div">
            <h2>Full Name</h2>
            <input 
                type="text" 
                class="input" 
                placeholder="Enter your full name">
        </div>

        <div class="input_div">
            <h2>Email</h2>
            <input 
                type="email" 
                class="input" 
                placeholder="Enter your email">
        </div>

        <div class="input_div">
            <h2>Password</h2>
            <input 
            type="password" 
            class="input" 
            placeholder="Enter your password">
        </div>
        <button type="submit" class="submit_button">Login</button>
        <p class="href_link_p">
            already have account
            <a
            href="/auth/login" 
            class="href_link"
            >
            login here
            </a>
        </p>

    </form>

    {% django_browser_reload_script %}
</body>

</html>
